---
import { Image } from "astro:assets";

import Link from "@/components/Link";

import { POSTS_CONFIG } from "../config";

import { formatDate } from "../lib/utils";

interface Props {
  id: string;
  title: string;
  imageUrl?: string;
  date?: string;
  categoryTitle?: string;
}

const { id, title, imageUrl, categoryTitle, date } = Astro.props;

import imageOgp from "@/assets/opengraph-image-1200x630.jpg";
---

<Link href={`${POSTS_CONFIG.postsIndexSlug}/${id}`}>
  {
    imageUrl ? (
      <Image src={imageUrl} width={607} height={319} alt="" />
    ) : (
      <Image src={imageOgp} alt="" />
    )
  }
  <p>{title}</p>
  {categoryTitle && <p>- {categoryTitle}</p>}
  <p>{formatDate(date)}</p>
</Link>
